$footer-height: 100px;

html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;

	margin: 0 auto -$footer-height;


	padding: 0 0 $footer-height;
}

#footer {
	height:$footer-height;
	background: rgba(36,32,33,0.9);
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	padding: 10px 0px;
	margin-top: 30px;
}

#footer a {
	height: $footer-height;
	color:white;
	font-weight:100;
	
}